
@fullwidth: 900px;
@fullheight: 510px;
@thumbwidth: @fullwidth / 2;
@thumbheight: @fullheight / 2;
@imgmargin: 16px;

@margin: 50px;

@background: #222;
@headingcolor: #fff;
@valuecolor: #fff;
@textcolor: #888;

@sidebar-bg: #fff;
@sidebar-img-border: #aaa;

@sans-serif: Verdana, Helvetica, sans-serif;
@serif: 'Times New Roman', Times, serif;
@basesize: 14px;
@introsize: 18px;
@h1size: 44px;
@h2size: 36px;
@tagsize: 12px;

html, body, a, div, ul, li, h1, h2 {
    background: transparent; border: 0; color: @textcolor;
    font-size: @basesize; font-weight: normal; margin: 0; outline: 0;
    padding: 0; text-decoration: none;vertical-align: baseline;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul { list-style: none; }
a { color: @headingcolor; font-family: inherit; font-size: inherit; }

body { font-family: @sans-serif; }
body { background: @background; }

div.content > footer,
div.content > footer a { font-family: @sans-serif; }
div.content > footer {
    border-top: 1px solid @textcolor;
    margin: 0 50px;
    min-height: 80px;
}
div.content > footer p.copyright { float: left; }
div.content > footer p.links { float: right; }
div.content > footer p.links a { padding: 0 0.3em; }

header {
    color: @headingcolor;
    font-family: @serif;
    font-size: @introsize;
    margin: 1em auto;
    text-align: center;
    width: 24em;
}

p.sign { padding-left: 11em; }
div.spacer { font-size: @h2size; margin: 0 auto; text-align: center; }

section { clear: both; margin: 100px 0; }

section:nth-child(odd) div.images { float: left; }
section:nth-child(even) div.images { float: right; }

section:nth-child(odd) div.details { margin-left: @margin + @margin + @thumbwidth; }
section:nth-child(even) div.details { margin-left: @margin;  }

div.sidebar, div.images { cursor: pointer; }

div.images {
    margin: 0px @margin;
    height: @thumbheight;
    width: @thumbwidth;
}

div.details {
    margin: 0px @margin @margin @margin;
    min-height: @thumbheight;
    width: @thumbwidth;
    position: relative;
}

div.attributes {
    position: absolute;
    bottom: 0;
    left: 0;
}
div.attributes a { color: @textcolor; }

div.content {
    width: @margin + @margin + @margin + @fullwidth;
    position: absolute;
    left: 0;
    top: 0;
}

div.sidebar {
    background: @sidebar-bg;
    box-shadow: 5px 5px 50px rgba(0,0,0,0.5);
    width: (@fullwidth + @imgmargin + @imgmargin);
    margin: 0;
    position: absolute;
    left: (0 - (@fullwidth + @imgmargin + @imgmargin));
    top: 0;
    overflow: hidden;
    z-index: 20;
}
div.sidebar li img {
    border: 1px solid @sidebar-img-border;
    margin: (@imgmargin - 1);
}

h1 {
    color: @headingcolor;
    font-family: @serif;
    font-size: @h1size;
    font-weight: 100;
    letter-spacing: 0.2em;
    margin: 50px;
    text-align: center;
}

h2 {
    color: @headingcolor;
    font-family: @serif;
    font-size: @h2size;
    font-style: italic;
    margin-bottom: 1em;
    text-align: center;
}

div.description { margin: 1em 0; text-align: justify; }

span.label, span.date, span.tech, a { line-height: 22px; }

span.label { display: inline-block; width: 5em; }
span.label:after { content: ":" }
span.date, span.tech { color: @valuecolor; }
span.tag {
    background: #826;
    border-radius: 5px;
    color: #e8c;
    font-size: @tagsize;
    padding: 2px 5px;
}

